{% extends 'meepo/base.html' %}

{% block content %}

    <div class="container">

        <div class="about col-xs-12">
            <h1>Bleepie</h1>
        </div>
        
        <div class="about col-xs-12">
            <p>Bleepies come from the planet Crombo, 3.2 zillion light years away from Earth. <br> They are great pets but require special care.</p>
            <img src="../../static/images/happy.gif">
        </div>

        <div class="about col-xs-12">
            <p>Every day, you will be asked for your blood alcohol level. <br> If the level is too high, your bleepie will become ill.</p>
            <img src="../../static/images/sick.gif">
        </div>


        <div class="about col-xs-12">
            <p>At very high levels, your bleepie will die. Don't let your bleepie die!</p>
            <img src="../../static/images/dead.gif">
            <br>
        </div>


        <div class="about col-xs-12">
            <ul>
                <p>For version 1.0, the BAL requests will be texted.<br>
                Use of the app will require a breathalyzer and users will be able to see their BAL data over time.<br>
                If a user's BAL is more than zero, the user may receive a second request asking for another BAL.<br>
                </p>

            </ul>
        </div>

    </div>

{% endblock %}