

.container {
	text-align: center;
	padding: 50px;
}

.about {
	margin: auto;
	padding: 15px;
	display: inline-block;
}

.about img {
	display: block;
	margin: 0 auto;
	height: 500px;
	width: 500px;
}

.about p {
	text-align: center;
	font-size: 125%;
}

.about .notice {
	font-size: 110%;
}

.about h1 {
	text-align: center;
}

.contact p {
	text-align: left;
	font-size: 125%;
}

.contact h1 {
	text-align: left;
}

.left-align h2 {
	text-align: left;
}

.left-align form {
	text-align: left;
}

.left-align p {
	text-align: left;
}

img {
	height: 500px;
	width: 500px;
}

button {
	margin: 15px;
}

.bleepie-info {
	padding-top: 35px;
}

.bleepie-status {
	text-align: left;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-default .navbar-brand {
  color: gray;
}

.navbar-default .navbar-brand:hover {
  color: red;
}

.navbar-default .navbar-nav>li>a:hover {
  color: red;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: gray !important;
}

.navbar-toggle {
	background-color: white !important;
}

.notice {
	font-size: 5px;
	font-color: red;
}